/* ==========================================================================
   Grid System
   ========================================================================== */


/* Griddle Import
========================================================================== */
@import "node_modules/gridle/sass/gridle/gridle-flex";

/* Griddle Setup
========================================================================== */
@include gridle_setup( (
    context : 12,
    gutter-width : $size_gutter*2,
));

/* Breakpoints
========================================================================== */
@include gridle_register_state ( desktop-small , (
    max-width : $size_inner + $size_gutter*2
));

@include gridle_register_state ( tablet , (
    max-width : 1024px
));

@include gridle_register_state ( tablet-landscape, (
    query : "screen and (max-width: 1060px) and (min-width: 768px) and (orientation : landscape)"
));

@include gridle_register_state ( tablet-portrait, (
    query : "screen and (max-width: 920px) and (min-width: 641px) and (orientation : portrait)"
));

@include gridle_register_state ( mobile , (
    max-width : 767px
));



/* Custom Classes
========================================================================== */
@include gridle_generate_classes ( );


/* padding top
=========================== */
@for $i from $gutterTopNumber through 0 {
    @include gridle_generate_custom_class( ('gutter','-','top','-', '#{$i}' ,'@','%state') ) {
        padding-top: $i*$size_gutter;
        content : "#{gridle_get_current_state_name()}";
    }
}

/* padding bottom
=========================== */
@for $i from $gutterBottomNumber through 0 {
    @include gridle_generate_custom_class( ('gutter','-','bottom','-', '#{$i}' ,'@','%state') ) {
        padding-bottom: $i*$size_gutter;
        content : "#{gridle_get_current_state_name()}";
    }
}

/* margin top
=========================== */
@for $i from $spacingTopNumber through 0 {
    @include gridle_generate_custom_class( ('spacing','-','top','-', '#{$i}' ,'@','%state') ) {
        margin-top: $i*$size_gutter;
        content : "#{gridle_get_current_state_name()}";
    }
}

/* negative margin top
=========================== */
@for $i from $spacingTopNumber through 0 {
    @include gridle_generate_custom_class( ('spacing','-','top','-', 'minus','-', '#{$i}' ,'@','%state') ) {
        margin-top: -$i*$size_gutter;
        content : "#{gridle_get_current_state_name()}";
    }
}

/* margin bottom
=========================== */
@for $i from $spacingBottomNumber through 0 {
    @include gridle_generate_custom_class( ('spacing','-','bottom','-', '#{$i}' ,'@','%state') ) {
        margin-bottom: $i*$size_gutter;
        content : "#{gridle_get_current_state_name()}";
    }
}

/* negative margin bottom
=========================== */
@for $i from $spacingBottomNumber through 0 {
    @include gridle_generate_custom_class( ('spacing','-','bottom','-', 'minus','-', '#{$i}' ,'@','%state') ) {
        margin-bottom: -$i*$size_gutter;
        content : "#{gridle_get_current_state_name()}";
    }
}


/* Layout Setup
========================================================================== */
.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
