/* ==========================================================================
   Icons
   ========================================================================== */


/* Fontello
========================================================================== */
@font-face {
 font-family: 'fontello';
 src: url('../fonts/fontello.eot?86829912');
 src: url('../fonts/fontello.eot?86829912#iefix') format('embedded-opentype'),
      url('../fonts/fontello.woff?86829912') format('woff'),
      url('../fonts/fontello.ttf?86829912') format('truetype'),
      url('../fonts/fontello.svg?86829912#fontello') format('svg');
 font-weight: normal;
 font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
 @font-face {
   font-family: 'fontello';
   src: url('../fonts/fontello.svg?86829912#fontello') format('svg');
 }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
 font-family: "fontello";
 font-style: normal;
 font-weight: normal;
 speak: none;

 display: inline-block;
 text-decoration: inherit;
 width: 1em;
 margin-right: .2em;
 text-align: center;
 /* opacity: .8; */

 /* For safety - reset parent styles, that can break glyph codes*/
 font-variant: normal;
 text-transform: none;

 /* fix buttons height, for twitter bootstrap */
 line-height: 1em;

 /* Animation center compensation - margins should be symmetric */
 /* remove if not needed */
 margin-left: .2em;

 /* you can be more comfortable with increased icons size */
 /* font-size: 120%; */

 /* Font smoothing. That was taken from TWBS */
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 @include font-smoothing(off);

 /* Uncomment for 3D effect */
 /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon--left-open:before { content: '\e800'; } /* '' */
.icon--right-open:before { content: '\e801'; } /* '' */
.icon--star-half-alt:before { content: '\e802'; } /* '' */
.icon--star-empty:before { content: '\e803'; } /* '' */
.icon--star:before { content: '\e804'; } /* '' */
.icon--3-days:before { content: '\e805'; } /* '' */
.icon--cancel:before { content: '\e806'; } /* '' */
.icon--thick:before { content: '\e807'; } /* '' */
.icon--down-open:before { content: '\e808'; } /* '' */
.icon--left-open-1:before { content: '\e809'; } /* '' */
.icon--right-open-1:before { content: '\e80a'; } /* '' */
.icon--up-open:before { content: '\e80b'; } /* '' */
.icon--lorry:before { content: '\e80c'; } /* '' */
.icon--pen:before { content: '\e80d'; } /* '' */
.icon--info:before { content: '\e80e'; } /* '' */
.icon--marker:before { content: '\e80f'; } /* '' */
.icon--my-account:before { content: '\e810'; } /* '' */
.icon--order:before { content: '\e811'; } /* '' */
.icon--logo:before { content: '\e812'; } /* '' */
.icon--magnifier:before { content: '\e813'; } /* '' */
.icon--tick:before { content: '\e814'; } /* '' */
.icon--papers:before { content: '\e815'; } /* '' */
.icon--wishlist-star:before { content: '\e816'; } /* '' */
.icon--bin:before { content: '\e817'; } /* '' */
.icon--key:before { content: '\e818'; } /* '' */
.icon--basket:before { content: '\e81e'; } /* '' */
.icon--right-open-thin:before { content: '\e81a'; } /* '' */
.icon--left-open-thin:before { content: '\e81b'; } /* '' */
.icon--down-open-thin:before { content: '\e81c'; } /* '' */
.icon--up-open-thin:before { content: '\e81d'; } /* '' */
.icon--off:before { content: '\e81f'; } /* '' */
.icon--mail:before { content: '\e820'; } /* '' */
.icon--cross:before { content: '\e821'; } /* '' */
.icon--clock:before { content: '\e822'; } /* '' */
