/* ==========================================================================
   Modifiers
   ========================================================================== */

/* Backgrounds
========================================================================== */
@for $i from 1 through length($colors) {
    .u-bg-#{$i} {
        background-color: nth($colors, $i);
    }
}

/* Paints (colors)
========================================================================== */
@for $i from 1 through length($colors) {
    .u-paint-#{$i} {
        color: nth($colors, $i);
    }
}
.u-paint-current {
    color: currentColor;
}

/* Text sizes
========================================================================== */
/* Text XXL
=========================== */
@include gridle_generate_custom_class( ('u','-','text','-','xxl','@','%state') ) {
    content: '#{gridle_get_current_state_name()}';

    @include helper--text-xxl;
}


/* Text XL
=========================== */
@include gridle_generate_custom_class( ('u','-','text','-','xl','@','%state') ) {
    content: '#{gridle_get_current_state_name()}';

    @include helper--text-xl;
}


/* Text L
=========================== */
@include gridle_generate_custom_class( ('u','-','text','-','l','@','%state') ) {
    content: '#{gridle_get_current_state_name()}';

    @include helper--text-l;
}


/* Text M
=========================== */
// @include gridle_generate_custom_class( ('u','-','text','-','m','@','%state') ) {
//     @include helper--text-m;

//     content: '#{gridle_get_current_state_name()}';
// }


/* Text S
=========================== */
// @include gridle_generate_custom_class( ('u','-','text','-','s','@','%state') ) {
//     @include helper--text-s;

//     content: '#{gridle_get_current_state_name()}';
// }


/* Text XS
=========================== */
// @include gridle_generate_custom_class( ('u','-','text','-','xs','@','%state') ) {
//     @include helper--text-xs;

//     content: '#{gridle_get_current_state_name()}';
// }




/* Text line-heights
========================================================================== */
@include gridle_generate_custom_class( ('u','-','line','-','h','-','n','@','%state') ) {
    line-height: 1; // neutral

    content: '#{gridle_get_current_state_name()}';
}

@include gridle_generate_custom_class( ('u','-','line','-','h','-','minus','-','xs','@','%state') ) {
    line-height: .5;

    content: '#{gridle_get_current_state_name()}';
}
@include gridle_generate_custom_class( ('u','-','line','-','h','-','minus','-','s','@','%state') ) {
    line-height: .9;

    content: '#{gridle_get_current_state_name()}';
}

@include gridle_generate_custom_class( ('u','-','line','-','h','-','xs','@','%state') ) {
    line-height: 1.1;

    content: '#{gridle_get_current_state_name()}';
}
@include gridle_generate_custom_class( ('u','-','line','-','h','-','s','@','%state') ) {
    line-height: 1.5;

    content: '#{gridle_get_current_state_name()}';
}
@include gridle_generate_custom_class( ('u','-','line','-','h','-','m','@','%state') ) {
    line-height: 2;

    content: '#{gridle_get_current_state_name()}';
}



/* Text direction
========================================================================== */
@include gridle_generate_custom_class( ('u','-','text','-','centered','@','%state') ) {
    content: '#{gridle_get_current_state_name()}';
    text-align: center;
}
@include gridle_generate_custom_class( ('u','-','text','-','left','@','%state') ) {
    content: '#{gridle_get_current_state_name()}';
    text-align: left;
}
@include gridle_generate_custom_class( ('u','-','text','-','right','@','%state') ) {
    content: '#{gridle_get_current_state_name()}';
    text-align: right;
}

/* Text transform
========================================================================== */
@include gridle_generate_custom_class( ('u','-','text','-','upper','@','%state') ) {
    content: '#{gridle_get_current_state_name()}';
    text-transform: uppercase;
}
@include gridle_generate_custom_class( ('u','-','text','-','lower','@','%state') ) {
    content: '#{gridle_get_current_state_name()}';
    text-transform: lowercase;
}
@include gridle_generate_custom_class( ('u','-','text','-','initial','@','%state') ) {
    content: '#{gridle_get_current_state_name()}';
    text-transform: initial;
}

/* Letter-spacing
========================================================================== */
@include gridle_generate_custom_class( ('u','-','spacing','-','normal','@','%state') ) {
    content: '#{gridle_get_current_state_name()}';
    letter-spacing: normal;
}
@include gridle_generate_custom_class( ('u','-','spacing','-','wide','@','%state') ) {
    content: '#{gridle_get_current_state_name()}';
    letter-spacing: .2em;
}
@include gridle_generate_custom_class( ('u','-','spacing','-','tight','@','%state') ) {
    content: '#{gridle_get_current_state_name()}';
    letter-spacing: -.05em;
}

/* Font Weights
========================================================================== */
@include gridle_generate_custom_class( ('u','-','weight','-','bl','@','%state') ) {
    font-weight: 900; // black

    content: '#{gridle_get_current_state_name()}';
}
@include gridle_generate_custom_class( ('u','-','weight','-','xb','@','%state') ) {
    font-weight: 800; //extra bold

    content: '#{gridle_get_current_state_name()}';
}
@include gridle_generate_custom_class( ('u','-','weight','-','b','@','%state') ) {
    font-weight: 700; // bold

    content: '#{gridle_get_current_state_name()}';
}
@include gridle_generate_custom_class( ('u','-','weight','-','sb','@','%state') ) {
    font-weight: 600; // semi bold

    content: '#{gridle_get_current_state_name()}';
}
@include gridle_generate_custom_class( ('u','-','weight','-','m','@','%state') ) {
    font-weight: 500; // medium

    content: '#{gridle_get_current_state_name()}';
}
@include gridle_generate_custom_class( ('u','-','weight','-','n','@','%state') ) {
    font-weight: 400; // normal

    content: '#{gridle_get_current_state_name()}';
}
@include gridle_generate_custom_class( ('u','-','weight','-','l','@','%state') ) {
    font-weight: 300; // light

    content: '#{gridle_get_current_state_name()}';
}
@include gridle_generate_custom_class( ('u','-','weight','-','t','@','%state') ) {
    font-weight: 100; // thin

    content: '#{gridle_get_current_state_name()}';
}


/* Font Families
========================================================================== */
// @include gridle_generate_custom_class( ('u','-','font','-','sans','@','%state') ) {
//     content: '#{gridle_get_current_state_name()}';
//     font-family: $font_sans;
// }
// @include gridle_generate_custom_class( ('u','-','font','-','serif','@','%state') ) {
//     content: '#{gridle_get_current_state_name()}';
//     font-family: $font_serif;
// }


/* Simple link
========================================================================== */
.u-default-link {
    &:hover {
        text-decoration: underline;
    }
}
.u-default-link-anim {
    position: relative;
    &:before {
        bottom: 0;
        left: 0;

        width: 100%;
        height: 1px;

        transition: .18s cubic-bezier(.52, .01, .16, 1);
        transform: scaleX(0);
        transform-origin: 0 50%;

        background: currentColor;

        @extend %helper--pseudo--absolute;
    }
    &:hover {
        &:before {
            transition-timing-function: cubic-bezier(.62, .02, .34, 1);
            transition-duration: .24s;
            transform: scaleX(1);
        }
    }
}

/* Grid flex fix
========================================================================== */
.h-grid-flex-fix {
    display: flex;
    flex-direction: row;
}
