/* ==========================================================================
   Modifiers
   ========================================================================== */

/* Backgrounds
========================================================================== */
@for $i from 1 through length($colors) {
    .-bg-#{$i} {
        background-color: nth($colors, $i);
    }
}

/* Paints (colors)
========================================================================== */
@for $i from 1 through length($colors) {
    .-paint-#{$i} {
        color: nth($colors, $i);
    }
}

/* Text sizes
========================================================================== */
/* Text XXL
=========================== */
@include gridle_generate_custom_class( ('-', 'text','-','xxl','@','%state') ) {
    @include helper--text-xxl;

    content: '#{gridle_get_current_state_name()}';
}


/* Text XL
=========================== */
// @include gridle_generate_custom_class( ('-', 'text','-','xl','@','%state') ) {
//     @include helper--text-xl;

//     content: '#{gridle_get_current_state_name()}';
// }


/* Text L
=========================== */
// @include gridle_generate_custom_class( ('-', 'text','-','l','@','%state') ) {
//     @include helper--text-l;

//     content: '#{gridle_get_current_state_name()}';
// }


/* Text M
=========================== */
// @include gridle_generate_custom_class( ('-', 'text','-','m','@','%state') ) {
//     @include helper--text-m;

//     content: '#{gridle_get_current_state_name()}';
// }


/* Text S
=========================== */
// @include gridle_generate_custom_class( ('-', 'text','-','s','@','%state') ) {
//     @include helper--text-s;

//     content: '#{gridle_get_current_state_name()}';
// }


/* Text XS
=========================== */
// @include gridle_generate_custom_class( ('-', 'text','-','xs','@','%state') ) {
//     @include helper--text-xs;

//     content: '#{gridle_get_current_state_name()}';
// }




/* Text line-heights
========================================================================== */
.-line-h-n {
    line-height: 1; // neutral
}


// .-line-h-minus-xs {
//     line-height: 0.5;
// }
// .-line-h-minus-s {
//     line-height: 0.9;
// }

// .-line-h-xs {
//     line-height: 1.1;
// }
// .-line-h-s {
//     line-height: 1.5;
// }
// .-line-h-m {
//     line-height: 2;
// }



/* Text direction
========================================================================== */
@include gridle_generate_custom_class( ('-', 'text','-','centered','@','%state') ) {
    content: '#{gridle_get_current_state_name()}';
    text-align: center;
}
@include gridle_generate_custom_class( ('-', 'text','-','left','@','%state') ) {
    content: '#{gridle_get_current_state_name()}';
    text-align: left;
}
@include gridle_generate_custom_class( ('-', 'text','-','right','@','%state') ) {
    content: '#{gridle_get_current_state_name()}';
    text-align: right;
}

/* Text transform
========================================================================== */
.-text-upper {
    text-transform: uppercase;
}


/* Letter-spacing
========================================================================== */
.-spacing-normal {
    letter-spacing: normal;
}
.-spacing-wide {
    letter-spacing: .2em;
}
.-spacing-tight {
    letter-spacing: -.2em;
}


/* Font Weights
========================================================================== */
.-weight-bl {
    font-weight: 900; // black
}
.-weight-xb {
    font-weight: 800; //extra bold
}
.-weight-b {
    font-weight: 700; // bold
}
.-weight-sb {
    font-weight: 600; // semi bold
}
.-weight-m {
    font-weight: 500; // medium
}
.-weight-n {
    font-weight: 400; // normal
}
.-weight-l {
    font-weight: 300; // light
}
.-weight-t {
    font-weight: 100; // thin
}



/* Font Families
========================================================================== */
// .-font-sans {
//     font-family: $font_sans;
// }
// .-font-serif {
//     font-family: $font_serif;
// }
