/* ==========================================================================
   LibSasserPlate Developer Styleguide
   ========================================================================== */
$color_styleguide_grey: #c2c2c2;
$color_styleguide_grey_light: #e2e2e2;

/* Common
========================================================================== */
/* Layout
=========================== */
.p-styleguide {
    .l-sec {
        &__head {
            &__info {
                > p {
                    font-size: 12px;
                }
            }
        }
    }
    .l-sec + .l-sec {
        margin-top: $size_gutter*2;
        padding-top: $size_gutter*2;

        border-top: 1px solid $color_styleguide_grey;
    }
}
/* Components
=========================== */
.c-styleguide-box {
    border: 1px solid $color_styleguide_grey;
    &__inner {
        padding: $size_gutter;
    }
    &__pre {
        pre {
            margin: 0;
            code {
                font-family: Arial;
                font-size: 14px;

                color: $color_5;
            }
        }
    }
    &__desc {
        > p {
            font-size: 12px;
            font-style: italic;
        }
    }
    &__pre + &__example,
    &__pre + &__desc {
        margin-top: $size_gutter;
    }
    &__pre + &__desc {
        padding-top: $size_gutter;

        border-top: 1px solid $color_styleguide_grey;
    }
}

.c-syleguide-boxes-list {
    margin: 1px -#{$size_gutter} -#{$size_gutter} 1px;

    @extend %helper--flex--center--top;
    flex-wrap: wrap;
    &__item {
        margin: -1px #{$size_gutter} #{$size_gutter} -1px;
    }
}

/* Prefixes
========================================================================== */
.c-syleguide-prefixes-list {
    margin: 1px -#{$size_gutter} -#{$size_gutter} 1px;

    @extend %helper--flex--stretch;
    flex-wrap: wrap;
    &__item {
        width: calc(50% - #{$size_gutter});
        margin: -1px #{$size_gutter} #{$size_gutter} -1px;

        @extend %helper--flex--stretch;
        .c-styleguide-box {
            width: 100%;
        }
    }
}
.c-syleguide-prefixes-list {
    @include gridle_state (mobile) {
        margin: 0 0 -#{$size_gutter} 0;
        &__item {
            width: 100%;
            margin: 0 0 $size_gutter 0;
        }
    }
}


/* Prefixes
========================================================================== */
.t-styleguide-heading {
    &-1 {
        @extend .u-text-xxl;
        @extend .u-paint-5;
        @extend .u-text-upper;
        @extend .u-line-h-n;
        @extend .u-text-centered;
    }
    &-2 {
        @extend .u-text-xl;
        @extend .u-text-upper;
        @extend .u-line-h-n;
        @extend .u-paint-4;
    }
}


/* Modifiers boxes
========================================================================== */
.c-styleguide {
    &-bg {
        display: block;

        width: 100px;
        height: 100px;

        border: 1px solid currentColor;
        &--rev {
            border-color: $color_black;
        }
    }
    &-paint {
        &--rev {
            background: $color_styleguide_grey;
        }
    }
}

/* Modifiers section boxes
========================================================================== */
.c-styleguide-modifiers-box {
    &__head {
        &__title {
            font-size: 18px;

            @extend .u-text-upper;
        }
        &__info {
            > p {
                font-size: 12px;
            }
        }
    }
    &__head + &__content {
        margin-top: $size_gutter*2;
    }
}

/* Modifiers section boxes list
========================================================================== */
.c-styleguide-modifiers-boxes-list {
    &__item {
        margin-bottom: $size_gutter*2;
        padding-bottom: $size_gutter*2;

        border-bottom: 1px solid $color_styleguide_grey_light;
        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;

            border-bottom-width: 0;
        }
    }
}
