/* ==========================================================================
   Variables
   ========================================================================== */

/* Colors
========================================================================== */
$color_default:	#464646;
$color_black:  	#000;
$color_white:  	#fff;

$color_1:     	$color_black;
$color_2:     	$color_white;
$color_3:     	#2a2a8e;      // dark ultramarine
$color_4:     	#354b73;      // dark grey-blue
$color_5:     	#d78046;      // dirty orange-gold

$colors:
    $color_1,
    $color_2,
    $color_3,
    $color_4,
    $color_5;


/* Gridle custom classes
========================================================================== */
$gutterTopNumber: 					10;
$gutterBottomNumber: 				10;
$spacingTopNumber: 					10;
$spacingBottomNumber: 				10;


/* Sizes
========================================================================== */
$size_inner:        				1240px;
$size_gutter:       				20px;


/* Fonts
========================================================================== */
$font_default: Arial, sans-serif;
$font_ico: 'fontello', Arial, sans-serif;