/* ==========================================================================
   Variables
   ========================================================================== */

/* Colors
========================================================================== */
$color_default:     #464646;
$color_black:       #000000;
$color_white:       #ffffff;


/* Sizes
========================================================================== */
$size_inner:        1240px;
$size_gutter:       20px;


/* Breakpoints
========================================================================== */
$breakpoint_tablet:             max-width 1225px;
$breakpoint_tablet-mini:        max-width 950px;
$breakpoint_smartphone:         max-width 767px;
$breakpoint_smartphone-mini:    max-width 375px;


/* Fonts
========================================================================== */
$font_default: Arial, sans-serif;
$font_ico: 'fontello', Arial, sans-serif;