.t-wysiwyg {
    ul,
    ol {
        padding-left: $size_gutter;
    }
    ul {
        list-style-type: disc;
    }
    ol {
        list-style-type: decimal;
    }
    a {
        @extend .u-simple-link-anim;
    }
}
