/* ==========================================================================
   Index of scss files
   ========================================================================== */

/* Normalize
   ========================================================================== */
@import "node_modules/normalize.css/normalize";

/* Flex Helpers
   ========================================================================== */
// @import "node_modules/flex-helpers/flex-helpers";

/* Base
   ========================================================================== */
@import "base/variables";
@import "base/mixins";
// @import "base/grid"; http://gridle.org/
@import "base/typography";
@import "base/icons";
@import "base/animations";
@import "base/extends";

/* Layouts and main layout elements
   ========================================================================== */
@import "layout/header";
@import "layout/footer";
// @import "layouts/category-page";


/* Components
   ========================================================================== */
@import "components/boxes";
@import "components/logos";
@import "components/buttons";
@import "components/forms";
@import "components/controls";
@import "components/navigations";
@import "components/lists";
@import "components/links";

/* Modifiers
   ========================================================================== */
@import "base/modifiers";


/* Vendor CSS
   ========================================================================== */
// @import "vendor/";