/* ==========================================================================
   Grid System
   ========================================================================== */

@import "node_modules/gridle/sass/gridle/gridle-flex";

/* Griddle Setup
========================================================================== */
@include gridle_setup( (
    context : 24,
    gutter-width : $size_gutter*2,
));

@each $name, $breakpoint in $breakpoints {
    @include gridle_register_state ( $name, (
        query : map-get($breakpoint, gridle)
    ));
}


/* Custom Classes
========================================================================== */
@include gridle_generate_classes ( );



