/* ==========================================================================
   Grid System
   ========================================================================== */
@import "node_modules/gridle/sass/gridle/gridle-flex";

/* Griddle Setup
========================================================================== */
@include gridle_setup( (
    context : 24,
    gutter-width : $size_gutter*2,
));

@include gridle_register_state ( #{$breakpoint_desktop-small} , (
    max-width : $size_desktop-small
));

@include gridle_register_state ( #{$breakpoint_tablet} , (
    max-width : $size_tablet
));

@include gridle_register_state ( #{$breakpoint_phone} , (
    max-width : $size_phone
));

/* Custom Classes
========================================================================== */
@include gridle_generate_classes ( );

/* Layout Setup
========================================================================== */
.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
