/* ==========================================================================
   ==========================================================================
   LAYOUT ORIENTED HELPERS
   ==========================================================================
   ========================================================================== */
@mixin helper--inner () {
    @include media('<desktop-small') {
        padding-right: $size_gutter;
        padding-left: $size_gutter;
    }

    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: $size_inner;
    margin: 0 auto;

    vertical-align: baseline;
}

/* ==========================================================================
   ==========================================================================
   CONTENT HELPERS
   ==========================================================================
   ========================================================================== */

/* ==========================================================================
   Reset helpers
   ========================================================================== */
@mixin helper--reset--btn () {
    padding: 0;
    padding: 0;

    border: none;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
}
@mixin helper--indent () {
    display: block;

    width: 0;
    height: 0;
    margin: 0;
    padding: 0;

    text-indent: -99998em;
}
@mixin helper--list () {
    margin: 0;
    padding: 0;

    list-style: none;
}

/* ==========================================================================
   Transitions helpers
   ========================================================================== */
@mixin helper--transition ($duration: 170ms, $timing: ease) {
    transition-timing-function: $timing;
    transition-duration: $duration;
}
@mixin helper--transition-alt ($timing: ease-in-out, $delay: .3s) {
    transition-delay: $delay;
    transition-timing-function: $timing;
}
@mixin helper--bezier--timing () {
    transition-timing-function: cubic-bezier(.190, 1.000, .220, 1.000);
}
@mixin helper--bezier ($duration: 500ms) {
    @include helper--bezier--timing;

    transition-duration: $duration;
}
@mixin helper--bezier--delay--sequence-0 () {
    transition-delay: 0;
}
@mixin helper--bezier--delay--sequence-1 () {
    transition-delay: 180ms;
}
@mixin helper--bezier--delay--sequence-2 () {
    transition-delay: 240ms;
}
@mixin helper--bezier-H-before--duration () {
    transition-duration: .18s;
}
@mixin helper--bezier-H-after--duration () {
    transition-duration: .24s;
}
@mixin helper--bezier-H-before--timing () {
    transition-timing-function: cubic-bezier(.52, .01, .16, 1);
}
@mixin helper--bezier-H-after--timing () {
    transition-timing-function: cubic-bezier(.62, .02, .34, 1);
}

/* ==========================================================================
   Animation helpers
   ========================================================================== */
@mixin helper--stop-animation () {
    animation-play-state: paused;
}
@mixin helper--run-animation () {
    animation-play-state: running;
}

/* ==========================================================================
   Postion helpers
   ========================================================================== */
@mixin helper--position--center-vertical {
    top: 0;
    bottom: 0;

    margin-top: auto;
    margin-bottom: auto;
}
@mixin helper--position--center-horizontal {
    right: 0;
    left: 0;

    margin-right: auto;
    margin-left: auto;
}

/* Postions absolute
   ========================================================================== */
@mixin helper--absolute--center-vertical () {
    @include helper--position--center-vertical;

    position: absolute;
}
@mixin helper--absolute--center-horizontal () {
    @include helper--position--center-horizontal;

    position: absolute;
}
@mixin helper--absolute--left--top () {
    position: absolute;
    top: 0;
    left: 0;
}
@mixin helper--absolute--left--center () {
    @include helper--absolute--center-vertical;

    left: 0;
}
@mixin helper--absolute--left--bottom () {
    position: absolute;
    bottom: 0;
    left: 0;
}
@mixin helper--absolute--center--top () {
    @include helper--absolute--center-horizontal;

    top: 0;
}
@mixin helper--absolute--center--center () {
    @include helper--absolute--center-horizontal;
    @include helper--position--center-vertical;

    position: absolute;
}
@mixin helper--absolute--center--bottom () {
    @include helper--absolute--center-horizontal;

    bottom: 0;
}
@mixin helper--absolute--right--top () {
    position: absolute;
    top: 0;
    right: 0;
}
@mixin helper--absolute--right--center () {
    @include helper--absolute--center-vertical;

    right: 0;
}
@mixin helper--absolute--right--bottom () {
    position: absolute;
    right: 0;
    bottom: 0;
}

/* Postions fixed
   ========================================================================== */
@mixin helper--fixed--center-vertical () {
    @include helper--position--center-vertical;

    position: fixed;
}
@mixin helper--fixed--center-horizontal () {
    @include helper--position--center-horizontal;

    position: fixed;
}
@mixin helper--fixed--center--center () {
    @include helper--absolute--center-horizontal;
    @include helper--position--center-vertical;

    position: fixed;
}
@mixin helper--fixed--center--top () {
    @include helper--fixed--center-horizontal;

    top: 0;
}

/* ==========================================================================
   Other content helpers
   ========================================================================== */
@mixin helper--dot-dot-dot () {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}
@mixin helper--img--cover () {
    @include helper--absolute--center--center;

    display: block;

    width: 100%;
    min-width: 100%;
    min-height: 100%;
}
@mixin helper--pseudo () {
    display: block;

    content: '';
}

/* ==========================================================================
   ==========================================================================
   GENERAL CHUNK FLEX HELPERS
   ==========================================================================
   ========================================================================== */

/* Display helpers
   ========================================================================== */
@mixin helper--flex () {
    display: flex;
}
@mixin helper--inline-flex () {
    display: inline-flex;
}
@mixin helper--flex--wrap () {
    display: flex;

    flex-wrap: wrap;
}
@mixin helper--inline-flex--wrap () {
    display: inline-flex;

    flex-wrap: wrap;
}
@mixin helper--flex--column () {
    display: flex;
    flex-direction: column;
}
@mixin helper--inline-flex--column () {
    display: inline-flex;
    flex-direction: column;
}

/* Align helpers
   ========================================================================== */
@mixin helper--align--start () {
    align-items: flex-start;
    align-content: flex-start;
}
@mixin helper--align--center () {
    align-items: center;
    align-content: center;
}
@mixin helper--align--end () {
    align-items: flex-end;
    align-content: flex-end;
}
@mixin helper--align--space-between () {
    align-items: flex-start;
    align-content: space-between;
}
@mixin helper--align--space-around () {
    align-items: flex-start;
    align-content: space-around;
}
@mixin helper--align--stretch () {
    align-items: stretch;
    align-content: stretch;
}

/* Justify helpers
   ========================================================================== */
@mixin helper--justify--start () {
    justify-content: flex-start;
}
@mixin helper--justify--center () {
    justify-content: center;
}
@mixin helper--justify--end () {
    justify-content: flex-end;
}
@mixin helper--justify--space-between () {
    justify-content: space-between;
}
@mixin helper--justify--space-around () {
    justify-content: space-around;
}


/* ==========================================================================
   ==========================================================================
   FLEX HELPERS
   ==========================================================================
   ========================================================================== */

/* ==========================================================================
   Flex row helpers
   ========================================================================== */

/* flex row horizontal to left
   ========================================================================== */
@mixin helper--flex--left--top () {
    @include helper--flex;
    @include helper--justify--start;
    @include helper--align--start;
}
@mixin helper--flex--left--center () {
    @include helper--flex;
    @include helper--justify--start;
    @include helper--align--center;
}
@mixin helper--flex--left--bottom () {
    @include helper--flex;
    @include helper--justify--start;
    @include helper--align--end;
}
@mixin helper--flex--left--stretch () {
    @include helper--flex;
    @include helper--justify--start;
    @include helper--align--stretch;
}
@mixin helper--flex--left--space-between () {
    @include helper--flex--wrap;
    @include helper--justify--start;
    @include helper--align--space-between;
}
@mixin helper--flex--left--space-around () {
    @include helper--flex--wrap;
    @include helper--justify--start;
    @include helper--align--space-around;
}

/* flex row horizontal centered
   ========================================================================== */
@mixin helper--flex--center--top () {
    @include helper--flex;
    @include helper--justify--center;
    @include helper--align--start;
}
@mixin helper--flex--center--center () {
    @include helper--flex;
    @include helper--justify--center;
    @include helper--align--center;
}
@mixin helper--flex--center--bottom () {
    @include helper--flex;
    @include helper--justify--center;
    @include helper--align--end;
}
@mixin helper--flex--center--stretch () {
    @include helper--flex;
    @include helper--justify--center;
    @include helper--align--stretch;
}
@mixin helper--flex--center--space-between () {
    @include helper--flex--wrap;
    @include helper--justify--center;
    @include helper--align--space-between;
}
@mixin helper--flex--center--space-around () {
    @include helper--flex--wrap;
    @include helper--justify--center;
    @include helper--align--space-around;
}

/* flex row horizontal to right
   ========================================================================== */
@mixin helper--flex--right--top () {
    @include helper--flex;
    @include helper--justify--end;
    @include helper--align--start;
}
@mixin helper--flex--right--center () {
    @include helper--flex;
    @include helper--justify--end;
    @include helper--align--center;
}
@mixin helper--flex--right--bottom () {
    @include helper--flex;
    @include helper--justify--end;
    @include helper--align--end;
}
@mixin helper--flex--right--stretch () {
    @include helper--flex;
    @include helper--justify--end;
    @include helper--align--stretch;
}
@mixin helper--flex--right--space-between () {
    @include helper--flex--wrap;
    @include helper--justify--end;
    @include helper--align--space-between;
}
@mixin helper--flex--right--space-around () {
    @include helper--flex--wrap;
    @include helper--justify--end;
    @include helper--align--space-around;
}

/* flex row horizontal space between
   ========================================================================== */
@mixin helper--flex--space-between--top () {
    @include helper--flex;
    @include helper--justify--space-between;
    @include helper--align--start;
}
@mixin helper--flex--space-between--center () {
    @include helper--flex;
    @include helper--justify--space-between;
    @include helper--align--center;
}
@mixin helper--flex--space-between--bottom () {
    @include helper--flex;
    @include helper--justify--space-between;
    @include helper--align--end;
}
@mixin helper--flex--space-between--stretch () {
    @include helper--flex;
    @include helper--justify--space-between;
    @include helper--align--stretch;
}
@mixin helper--flex--space-between--space-between () {
    @include helper--flex--wrap;
    @include helper--justify--space-between;
    @include helper--align--space-between;
}
@mixin helper--flex--space-between--space-around () {
    @include helper--flex--wrap;
    @include helper--justify--space-between;
    @include helper--align--space-around;
}

/* flex row horizontal space around
   ========================================================================== */
@mixin helper--flex--space-around--top () {
    @include helper--flex;
    @include helper--justify--space-around;
    @include helper--align--start;
}
@mixin helper--flex--space-around--center () {
    @include helper--flex;
    @include helper--justify--space-around;
    @include helper--align--center;
}
@mixin helper--flex--space-around--bottom () {
    @include helper--flex;
    @include helper--justify--space-around;
    @include helper--align--end;
}
@mixin helper--flex--space-around--stretch () {
    @include helper--flex;
    @include helper--justify--space-around;
    @include helper--align--stretch;
}
@mixin helper--flex--space-around--space-between () {
    @include helper--flex--wrap;
    @include helper--justify--space-around;
    @include helper--align--space-between;
}
@mixin helper--flex--space-around--space-around () {
    @include helper--flex--wrap;
    @include helper--justify--space-around;
    @include helper--align--space-around;
}

/* ==========================================================================
   Flex column helpers
   ========================================================================== */

/* flex column vertical to top
   ========================================================================== */
@mixin helper--flex--top--left () {
    @include helper--flex--column;
    @include helper--justify--start;
    @include helper--align--start;
}
@mixin helper--flex--top--center () {
    @include helper--flex--column;
    @include helper--justify--start;
    @include helper--align--center;
}
@mixin helper--flex--top--right () {
    @include helper--flex--column;
    @include helper--justify--start;
    @include helper--align--end;
}

/* flex column vertical centered
   ========================================================================== */
@mixin helper--flex--center--left () {
    @include helper--flex--column;
    @include helper--justify--center;
    @include helper--align--start;
}
@mixin helper--flex--center--center--column () {
    @include helper--flex--column;
    @include helper--justify--center;
    @include helper--align--center;
}
@mixin helper--flex--center--right () {
    @include helper--flex--column;
    @include helper--justify--center;
    @include helper--align--end;
}

/* flex column vertical to bottom
   ========================================================================== */
@mixin helper--flex--bottom--left () {
    @include helper--flex--column;
    @include helper--justify--end;
    @include helper--align--start;
}
@mixin helper--flex--bottom--center () {
    @include helper--flex--column;
    @include helper--justify--end;
    @include helper--align--center;
}
@mixin helper--flex--bottom--right () {
    @include helper--flex--column;
    @include helper--justify--end;
    @include helper--align--end;
}

/* flex column vertical space between
   ========================================================================== */
@mixin helper--flex--space-between--left () {
    @include helper--flex--column;
    @include helper--justify--space-between;
    @include helper--align--start;
}
@mixin helper--flex--space-between--center () {
    @include helper--flex--column;
    @include helper--justify--space-between;
    @include helper--align--center;
}
@mixin helper--flex--space-between--right () {
    @include helper--flex--column;
    @include helper--justify--space-between;
    @include helper--align--end;
}

/* flex column vertical space between
   ========================================================================== */
@mixin helper--flex--space-around--left () {
    @include helper--flex--column;
    @include helper--justify--space-around;
    @include helper--align--start;
}
@mixin helper--flex--space-around--center () {
    @include helper--flex--column;
    @include helper--justify--space-around;
    @include helper--align--center;
}
@mixin helper--flex--space-around--right () {
    @include helper--flex--column;
    @include helper--justify--space-around;
    @include helper--align--end;
}


/* ==========================================================================
   ==========================================================================
   INLINE-FLEX HELPERS
   ==========================================================================
   ========================================================================== */

/* ==========================================================================
   Inline-flex row helpers
   ========================================================================== */

/* inline-flex row horizontal to left
   ========================================================================== */
@mixin helper--inline-flex--left--top () {
    @include helper--inline-flex;
    @include helper--justify--start;
    @include helper--align--start;
}
@mixin helper--inline-flex--left--center () {
    @include helper--inline-flex;
    @include helper--justify--start;
    @include helper--align--center;
}
@mixin helper--inline-flex--left--bottom () {
    @include helper--inline-flex;
    @include helper--justify--start;
    @include helper--align--end;
}
@mixin helper--inline-flex--left--stretch () {
    @include helper--inline-flex;
    @include helper--justify--start;
    @include helper--align--stretch;
}
@mixin helper--inline-flex--left--space-between () {
    @include helper--inline-flex--wrap;
    @include helper--justify--start;
    @include helper--align--space-between;
}
@mixin helper--inline-flex--left--space-around () {
    @include helper--inline-flex--wrap;
    @include helper--justify--start;
    @include helper--align--space-around;
}

/* inline-flex row horizontal centered
   ========================================================================== */
@mixin helper--inline-flex--center--top () {
    @include helper--inline-flex;
    @include helper--justify--center;
    @include helper--align--start;
}
@mixin helper--inline-flex--center--center () {
    @include helper--inline-flex;
    @include helper--justify--center;
    @include helper--align--center;
}
@mixin helper--inline-flex--center--bottom () {
    @include helper--inline-flex;
    @include helper--justify--center;
    @include helper--align--end;
}
@mixin helper--inline-flex--center--stretch () {
    @include helper--inline-flex;
    @include helper--justify--center;
    @include helper--align--stretch;
}
@mixin helper--inline-flex--center--space-between () {
    @include helper--inline-flex--wrap;
    @include helper--justify--center;
    @include helper--align--space-between;
}
@mixin helper--inline-flex--center--space-around () {
    @include helper--inline-flex--wrap;
    @include helper--justify--center;
    @include helper--align--space-around;
}

/* inline-flex row horizontal to right
   ========================================================================== */
@mixin helper--inline-flex--right--top () {
    @include helper--inline-flex;
    @include helper--justify--end;
    @include helper--align--start;
}
@mixin helper--inline-flex--right--center () {
    @include helper--inline-flex;
    @include helper--justify--end;
    @include helper--align--center;
}
@mixin helper--inline-flex--right--bottom () {
    @include helper--inline-flex;
    @include helper--justify--end;
    @include helper--align--end;
}
@mixin helper--inline-flex--right--stretch () {
    @include helper--inline-flex;
    @include helper--justify--end;
    @include helper--align--stretch;
}
@mixin helper--inline-flex--right--space-between () {
    @include helper--inline-flex--wrap;
    @include helper--justify--end;
    @include helper--align--space-between;
}
@mixin helper--inline-flex--right--space-around () {
    @include helper--inline-flex--wrap;
    @include helper--justify--end;
    @include helper--align--space-around;
}

/* inline-flex row horizontal space between
   ========================================================================== */
@mixin helper--inline-flex--space-between--top () {
    @include helper--inline-flex;
    @include helper--justify--space-between;
    @include helper--align--start;
}
@mixin helper--inline-flex--space-between--center () {
    @include helper--inline-flex;
    @include helper--justify--space-between;
    @include helper--align--center;
}
@mixin helper--inline-flex--space-between--bottom () {
    @include helper--inline-flex;
    @include helper--justify--space-between;
    @include helper--align--end;
}
@mixin helper--inline-flex--space-between--stretch () {
    @include helper--inline-flex;
    @include helper--justify--space-between;
    @include helper--align--stretch;
}
@mixin helper--inline-flex--space-between--space-between () {
    @include helper--inline-flex--wrap;
    @include helper--justify--space-between;
    @include helper--align--space-between;
}
@mixin helper--inline-flex--space-between--space-around () {
    @include helper--inline-flex--wrap;
    @include helper--justify--space-between;
    @include helper--align--space-around;
}

/* inline-flex row horizontal space around
   ========================================================================== */
@mixin helper--inline-flex--space-around--top () {
    @include helper--inline-flex;
    @include helper--justify--space-around;
    @include helper--align--start;
}
@mixin helper--inline-flex--space-around--center () {
    @include helper--inline-flex;
    @include helper--justify--space-around;
    @include helper--align--center;
}
@mixin helper--inline-flex--space-around--bottom () {
    @include helper--inline-flex;
    @include helper--justify--space-around;
    @include helper--align--end;
}
@mixin helper--inline-flex--space-around--stretch () {
    @include helper--inline-flex;
    @include helper--justify--space-around;
    @include helper--align--stretch;
}
@mixin helper--inline-flex--space-around--space-between () {
    @include helper--inline-flex--wrap;
    @include helper--justify--space-around;
    @include helper--align--space-between;
}
@mixin helper--inline-flex--space-around--space-around () {
    @include helper--inline-flex--wrap;
    @include helper--justify--space-around;
    @include helper--align--space-around;
}

/* ==========================================================================
   Inline-flex column helpers
   ========================================================================== */

/* inline-flex column vertical to top
   ========================================================================== */
@mixin helper--inline-flex--top--left () {
    @include helper--inline-flex--column;
    @include helper--justify--start;
    @include helper--align--start;
}
@mixin helper--inline-flex--top--center () {
    @include helper--inline-flex--column;
    @include helper--justify--start;
    @include helper--align--center;
}
@mixin helper--inline-flex--top--right () {
    @include helper--inline-flex--column;
    @include helper--justify--start;
    @include helper--align--end;
}

/* inline-flex column vertical centered
   ========================================================================== */
@mixin helper--inline-flex--center--left () {
    @include helper--inline-flex--column;
    @include helper--justify--center;
    @include helper--align--start;
}
@mixin helper--inline-flex--center--center--column () {
    @include helper--inline-flex--column;
    @include helper--justify--center;
    @include helper--align--center;
}
@mixin helper--inline-flex--center--right () {
    @include helper--inline-flex--column;
    @include helper--justify--center;
    @include helper--align--end;
}

/* inline-flex column vertical to bottom
   ========================================================================== */
@mixin helper--inline-flex--bottom--left () {
    @include helper--inline-flex--column;
    @include helper--justify--end;
    @include helper--align--start;
}
@mixin helper--inline-flex--bottom--center () {
    @include helper--inline-flex--column;
    @include helper--justify--end;
    @include helper--align--center;
}
@mixin helper--inline-flex--bottom--right () {
    @include helper--inline-flex--column;
    @include helper--justify--end;
    @include helper--align--end;
}

/* inline-flex column vertical space between
   ========================================================================== */
@mixin helper--inline-flex--space-between--left () {
    @include helper--inline-flex--column;
    @include helper--justify--space-between;
    @include helper--align--start;
}
@mixin helper--inline-flex--space-between--center () {
    @include helper--inline-flex--column;
    @include helper--justify--space-between;
    @include helper--align--center;
}
@mixin helper--inline-flex--space-between--right () {
    @include helper--inline-flex--column;
    @include helper--justify--space-between;
    @include helper--align--end;
}

/* inline-flex column vertical space between
   ========================================================================== */
@mixin helper--inline-flex--space-around--left () {
    @include helper--inline-flex--column;
    @include helper--justify--space-around;
    @include helper--align--start;
}
@mixin helper--inline-flex--space-around--center () {
    @include helper--inline-flex--column;
    @include helper--justify--space-around;
    @include helper--align--center;
}
@mixin helper--inline-flex--space-around--right () {
    @include helper--inline-flex--column;
    @include helper--justify--space-around;
    @include helper--align--end;
}


/* ==========================================================================
   ==========================================================================
   APPARENCE HELPERS
   ==========================================================================
   ========================================================================== */

/* ==========================================================================
   Spacing helpers
   ========================================================================== */
@mixin helper--children-margin-top-big () {
    [class^='#{str-replace(#{&}, '.', '')}__'] + [class^='#{str-replace(#{&}, '.', '')}__'] {
        margin-top: $size_gutter*3;
    }
}
@mixin helper--children-margin-top-medium () {
    [class^='#{str-replace(#{&}, '.', '')}__'] + [class^='#{str-replace(#{&}, '.', '')}__'] {
        margin-top: $size_gutter*2;
    }
}
@mixin helper--children-margin-top-default () {
    [class^='#{str-replace(#{&}, '.', '')}__'] + [class^='#{str-replace(#{&}, '.', '')}__'] {
        margin-top: $size_gutter;
    }
}
@mixin helper--children-margin-top-micro () {
    [class^='#{str-replace(#{&}, '.', '')}__'] + [class^='#{str-replace(#{&}, '.', '')}__'] {
        margin-top: $size_gutter/3;
    }
}
@mixin helper--children-margin-top-reset () {
    [class^='#{str-replace(#{&}, '.', '')}__'] + [class^='#{str-replace(#{&}, '.', '')}__'] {
        margin-top: 0;
    }
}
@mixin helper--children-margin-left-default () {
    [class^='#{str-replace(#{&}, '.', '')}__'] + [class^='#{str-replace(#{&}, '.', '')}__'] {
        margin-left: $size_gutter;
    }
}
@mixin helper--children-margin-left-small () {
    [class^='#{str-replace(#{&}, '.', '')}__'] + [class^='#{str-replace(#{&}, '.', '')}__'] {
        margin-left: $size_gutter/2;
    }
}

/* ==========================================================================
   Shadows, overalys etc
   ========================================================================== */
@mixin helper--box-shadow ($horizontal_length: 0, $vertical_length: 5px, $blur_radius: 10px, $spread_radius: 0, $opacity: .2) {
    box-shadow: $horizontal_length $vertical_length $blur_radius $spread_radius rgba(0,0,0,$opacity);
}
@mixin helper--text-shadow ($horizontal_length: 0, $vertical_length: 2px, $blur_radius: 12px, $opacity: .2) {
    text-shadow: $horizontal_length $vertical_length $blur_radius rgba(0,0,0,$opacity);
}
@mixin helper--overlay () {
    @include helper--pseudo;
    @include helper--absolute--center--center;

    width: 100%;
    height: 100%;

    opacity: 1;
}
@mixin helper--dark-overlay () {
    background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgba(0, 0, 0, .54) 25%, rgba(0, 0, 0, .54) 50%, rgba(0, 0, 0, .54) 75%, rgb(0, 0, 0) 100%);
}

/* ==========================================================================
   Links helpers
   ========================================================================== */
@mixin helper--link-anim ($anim_line_h: 100%, $anim_line_v: 1px, $paint: currentColor) {
    position: relative;

    overflow: hidden;
    &:before {
        @include helper--pseudo;

        position: absolute;
        bottom: 0;
        left: 0;

        width: $anim_line_h;
        height: $anim_line_v;

        transition: .18s cubic-bezier(.52, .01, .16, 1);
        transform: scaleX(0);
        transform-origin: 0 50%;

        background: $paint;
    }
}
@mixin helper--link-anim-dash-on-hover () {
    &:before {
        transition-timing-function: cubic-bezier(.62, .02, .34, 1);
        transition-duration: .24s;
        transform: scaleX(1);
    }
}

/* ==========================================================================
   Buttons
   ========================================================================== */
@mixin helper--close-btn ($size_btn: 38px, $size_angle: 45deg, $paint: $color_2, $hover_paint: $color_3, $border_paint: $color_3, $background_paint: $color_3, $hover_background_paint: $color_2) {
    @include helper--transition;
    @include helper--flex--center--center;
    @include helper--indent;
    @include helper--box-shadow;

    box-sizing: border-box;
    width: $size_btn;
    height: $size_btn;

    color: $paint;
    border: 1px solid $border_paint;
    background-color: $background_paint;
    text-shadow: none;
    &:before,
    &:after {
        @include helper--pseudo;
        @include helper--absolute--center-horizontal;

        top: 45%;

        display: block;

        width: 50%;
        height: 4px;

        transform-origin: 50% 50%;

        background: currentColor;
    }
    &:before {
        transform: rotate3d(0, 0, 1, -$size_angle);
    }
    &:after {
        transform: rotate3d(0, 0, 1, $size_angle);
    }
    &:hover {
        color: $hover_paint;
        background-color: $hover_background_paint;
    }
}
