/* ==========================================================================
   Helpers
   ========================================================================== */

/* Layout oriented helpers
   ========================================================================== */
%helper--inner {
    width: 100%;
    max-width: $size_inner;
    margin: 0 auto;
}
%helper--inner {
    @include gridle_state (desktop-small) {
        padding-right: $size_gutter;
        padding-left: $size_gutter;
    }
}

// %helper--sec {
//     max-width: 100%;

//     flex-wrap: wrap;
//     flex-basis: 100%;
//     @extend %helper--flex--center--top;
// }
// %helper--inner {
//     position: relative;

//     width: $size_inner;
// }
// %helper--inner {
//     @include gridle_state (desktop-small) {
//         width: 100%;
//         padding-right: $size_gutter;
//         padding-left: $size_gutter;
//     }
// }

/* Clearfixes
   ========================================================================== */
%helper--clear {
    display: block;
    visibility: hidden;
    clear: both;
    overflow: hidden;

    height: 0;
    margin: 0!important;

    line-height: 0;

    content: '.';
}
%helper--clear-after {
    display: block;
    clear: both;

    margin: 0!important;

    content: '.';
}
%helper--clearfix {
    &:before,
    &:after {
        display: block;
        visibility: hidden;

        height: 0;

        content: '\0020';
    }
    &:after {
        clear: both;
    }
}

/* Content helpers
   ========================================================================== */
%helper--reset--btn {
    border: none;
    border: none;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
}
%helper--transition {
    transition: 170ms ease;
}
%helper--indent {
    display: block;

    width: 0;
    height: 0;
    margin: 0;
    padding: 0;

    text-indent: -99998em;
}
%helper--absolute--center-vertical {
    position: absolute;
    top: 0;
    bottom: 0;

    margin: auto 0;
}
%helper--absolute--center-vertical--horizontal-to-left {
    left: 0;

    @extend %helper--absolute--center-vertical;
}
%helper--absolute--center-vertical--horizontal-to-right {
    right: 0;

    @extend %helper--absolute--center-vertical;
}
%helper--fixed--center-horizontal--vertical-to-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    margin: 0 auto;
}
%helper--absolute--center-horizontal {
    position: absolute;
    right: 0;
    left: 0;

    margin: 0 auto;
}
%helper--absolute--center-horizontal--vertical-to-top {
    top: 0;

    @extend %helper--absolute--center-horizontal;
}
%helper--absolute--center-horizontal--vertical-to-bottom {
    bottom: 0;

    @extend %helper--absolute--center-horizontal;
}
%helper--absolute--center--center {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: auto;
}
%helper--pseudo {
    display: block;

    content: '';
}
%helper--pseudo--absolute {
    position: absolute;

    @extend %helper--pseudo;
}
%helper--pseudo--absolute--center {
    @extend %helper--pseudo;
    @extend %helper--absolute--center--center;
}
%helper--list {
    margin: 0;
    padding: 0;

    list-style: none;
}


%helper--flex {
    display: flex;
}
%helper--fl--v-top {
    align-items: flex-start;
    align-content: flex-start;
}
%helper--fl--v-center {
    align-items: center;
    align-content: center;
}
%helper--fl--v-bottom {
    align-items: flex-end;
    align-content: flex-end;
}
%helper--fl--v-space-between {
    align-items: flex-start;
    align-content: space-between;
}
%helper--fl--h-left {
    justify-content: flex-start;
}
%helper--fl--h-center {
    justify-content: center;
}
%helper--fl--h-right {
    justify-content: flex-end;
}
%helper--fl--h-space-between {
    justify-content: space-between;
}
%helper--fl--h-space-around {
    justify-content: space-around;
}
%helper--flex--center--top {
    @extend %helper--flex;
    @extend %helper--fl--h-center;
    @extend %helper--fl--v-top;
}
%helper--flex--center--center {
    @extend %helper--flex;
    @extend %helper--fl--h-center;
    @extend %helper--fl--v-center;
}
%helper--flex--center--bottom {
    @extend %helper--flex;
    @extend %helper--fl--h-center;
    @extend %helper--fl--v-bottom;
}
%helper--flex--center--space-between {
    @extend %helper--flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-between;
    @extend %helper--fl--h-center;
}
%helper--flex--space-between--top {
    @extend %helper--flex;
    @extend %helper--fl--h-space-between;
    @extend %helper--fl--v-top;
}
%helper--flex--space-between--center {
    @extend %helper--flex;
    @extend %helper--fl--h-space-between;
    @extend %helper--fl--v-center;
}
%helper--flex--space-between--bottom {
    @extend %helper--flex;
    @extend %helper--fl--h-space-between;
    @extend %helper--fl--v-bottom;
}
%helper--flex--space-around--top {
    @extend %helper--flex;
    @extend %helper--fl--h-space-around;
    @extend %helper--fl--v-top;
}
%helper--flex--space-around--center {
    @extend %helper--flex;
    @extend %helper--fl--h-space-around;
    @extend %helper--fl--v-center;
}
%helper--flex--space-around--bottom {
    @extend %helper--flex;
    @extend %helper--fl--h-space-between;
    @extend %helper--fl--v-bottom;
}
%helper--flex--left--top {
    @extend %helper--flex;
    @extend %helper--fl--v-top;
    @extend %helper--fl--h-left;
}
%helper--flex--left--center {
    @extend %helper--flex;
    @extend %helper--fl--v-center;
    @extend %helper--fl--h-left;
}
%helper--flex--left--bottom {
    @extend %helper--flex;
    @extend %helper--fl--v-bottom;
    @extend %helper--fl--h-left;
}
%helper--flex--right--top {
    @extend %helper--flex;
    @extend %helper--fl--h-right;
    @extend %helper--fl--v-top;
}
%helper--flex--right--center {
    @extend %helper--flex;
    @extend %helper--fl--h-right;
    @extend %helper--fl--v-center;
}
%helper--flex--right--bottom {
    @extend %helper--flex;
    @extend %helper--fl--h-right;
    @extend %helper--fl--v-bottom;
}
%helper--flex--stretch {
    @extend %helper--flex;
    align-content: stretch;
    align-items: stretch;
}
%helper--flex--vertical-space-between {
    @extend %helper--flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: space-between;
}

%helper--flex--top--left {
    flex-direction: column;

    @extend %helper--flex;
    @extend %helper--fl--v-top;
    @extend %helper--fl--h-left;
}

%helper--stop-animation {
    animation-play-state: paused;
}

/* Apparence helpers
   ========================================================================== */
%helper--box-shadow--no-color {
    width: 100%;
    height: 100%;

    background: transparent;
    box-shadow: 0 0 0 0 rgba(0,0,0,0);

    @extend %helper--absolute--center--center;
    @extend %helper--transition;
}

%helper--box-shadow--dark {
    box-shadow: 0 1px 10px 0 rgba(0,0,0,.4);
}
