/* ==========================================================================
   Media config
   ========================================================================== */

// Examples:
// In mobile-first approach we should use:
// @include media(mobile) that means (min-width: mobile);
//
// To create custom styles (eg. works only above mobile and below tablet) 
// and avoid override them on another breakpoints, we can use:;
// @include media(mobile, tablet) that means (min-width: mobile) and (max-width: tablet - 1px);

@mixin media($minWidth, $maxWidth: null) {
    @if type-of($minWidth) != number {
        $minWidth: breakpoint($minWidth);
    }

    @if ($minWidth != null) {
        @if ($maxWidth != null) {
            @if type-of($maxWidth) != number {
                $maxWidth: breakpoint($maxWidth);
            }

            @media (min-width: $minWidth) and (max-width: $maxWidth - 1px) {
                @content;
            }
        } @else {
            @if ($minWidth != 0) {
                @media (min-width: $minWidth) {
                    @content;
                }
            } @else {
                @content;
            }
        }
    } @else {
        @error "Unfortunately, no value could be retrieved from '#{$minWidth}'." + " Please make sure it is defined in `$breakpoints` map.";
    }
}

// To add portrait or landscape orientation, use this mixin
//
// Example of using:
// 
// .l-header {
//      @include media(tablet) {
//          background: grey;
//          @include orientation(landscape) {
//              background: black;
//          }
//      }
// }

@mixin orientation($orientation) {
    @if ($orientation == 'portrait' or $orientation == 'landscape') {
        @media (orientation: $orientation) {
            @content
        }
    } @else {
        @error "Unfortunately, no find orientation '#{$orientation}'." + " Please use 'portrait' or 'landscape' value.";
    }
}

// To create map of styles that includes breakpoints for some component, use this mixin
//
// Example of using:
// .l-header {
//      $header-title-font-sizes: (
//          mobile: 24px,
//          tablet: 32px,
//          desktop: 36px,
//      );
//      &__title {
//          @include each-breakpoint($header-title-font-sizes, font-size);
//      }
// }

@mixin each-breakpoint($map, $properties) {
    @each $bp, $value in $map {
        $newValue: $value;

        @include media($bp) {
            @each $property in $properties {
                #{$property}: $newValue;
            }
        }
    }
}
