/* ==========================================================================
   Mixins
   ========================================================================== */

/* 1. Font smoothing
========================================================================== */
/* Better font-rendering on OSX
   https://maximilianhoffmann.com/posts/better-font-rendering-on-osx
*/
@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    } @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}
@mixin clearfix {
    &:after {
        display: block;
        visibility: hidden;
        clear: both;
        overflow: hidden;

        height: 0;
        margin: 0!important;

        line-height: 0;

        content: '.';
    }
}
@mixin transition($property: all) {
    transition: $property .1s ease-in-out;
}

/* 2. Modifiers text size mixins
========================================================================== */
// /* Text XXL - Museo sans
// =========================== */
// @mixin helper--text-fmu-xxl () {
//     // font-size: 64px;
//     font-size: 4rem;
//     line-height: 1;

//     @include gridle_state (tablet) {
//         font-size: 52px;
//     }
//     @include gridle_state (mobile) {
//         font-size: 37px;
//     }
// }

// /* Text XL - Museo sans
// =========================== */
// @mixin helper--text-fmu-xl () {
//     // font-size: 50px;
//     font-size: 3.125rem;
//     line-height: 1;

//     @include gridle_state (tablet) {
//         font-size: 40px;
//     }
//     @include gridle_state (mobile) {
//         font-size: 30px;
//     }
// }

// /* Text L - Museo sans
// =========================== */
// @mixin helper--text-fmu-l () {
//     // font-size: 40px;
//     font-size: 2.5rem;
//     line-height: 1;

//     @include gridle_state (tablet) {
//         font-size: 30px;
//     }
// }

// /* Text M - Museo sans
// =========================== */
// @mixin helper--text-fmu-m () {
//     // font-size: 18px;
//     font-size: 1.125rem;
//     line-height: 1;
//     @include gridle_state (tablet) {
//         font-size: 16px;
//     }
// }

// /* Text S - Museo sans
// =========================== */
// @mixin helper--text-fmu-s () {
//     // font-size: 16px;
//     font-size: 1rem;
//     line-height: 1;
//     @include gridle_state (mobile) {
//         font-size: 14px;
//     }
// }

// /* Text XS - Museo sans
// =========================== */
// @mixin helper--text-fmu-xs () {
//     // font-size: 14px;
//     font-size: .875rem;
//     line-height: 1;
// }

// /* Text XXS - Museo sans
// =========================== */
// @mixin helper--text-fmu-xxs () {
//     // font-size: 12px;
//     font-size: .75rem;
//     line-height: 1;
// }


/* 5. BTN styles (exemplary mixin for custom classes set of utilities for buttons)
========================================================================== */
/*
@mixin helper--btn-styles ($height: $size_btn_v) {
    display: inline-flex;

    height: $height;
    padding: 0 $size_gutter;

    transition: 170ms ease;
    text-transform: uppercase;

    border-width: 1px;

    align-items: center;
    align-content: center;
    justify-content: center;
}
 */
