/* ==========================================================================
   Reset
   ========================================================================== */
iframe {
    border: none;
}

iframe,
img {
    display: block;
    max-width: 100%;
}
