/* ==========================================================================
   Typography
   ========================================================================== */


/* Global texts
========================================================================== */
html {
    @include font-smoothing(on);

    font-size: font-size(main);
}

body {
    font-family: font(main);
    color: color(main);

    line-height: 1.2;
}

a {
    cursor: pointer;
    text-decoration: none;

    color: currentColor;
    &:hover {
        text-decoration: none;
    }
    &:focus {
        outline: none;
    }
}

ul,
ol {
    margin: 0;
    padding: 0;

    list-style: none;
    padding-left: $white-space;
    li {
        margin: 1rem 0;
    }
}

ul {
    &:not([class]) {
        list-style-type: disc;
    }
}

ol {
    &:not([class]) {
        list-style-type: decimal;
    }
}
