/* ==========================================================================
   Typography
   ========================================================================== */


/* Global texts
========================================================================== */
html {
    @include font-smoothing(on);

    font-size: 16px;
}
body {
    font-family: $font-default;
    line-height: 1.4;

    color: $color-default;
}

a {
    cursor: pointer;
    text-decoration: none;

    color: currentColor;
    &:hover {
        text-decoration: none;
    }
    &:focus {
        outline: none;
    }
}

ul,
ol {
    margin: 0;
    padding: 0;

    list-style: none;
    padding-left: $size-gutter;
    li {
        margin: 1rem 0;
    }
}

ul {
    &:not([class]) {
        list-style-type: disc;
    }
}

ol {
    &:not([class]) {
        list-style-type: decimal;
    }
}
