/* ==========================================================================
   Utilities
   ========================================================================== */

/* Backgrounds
   ========================================================================== */
@for $i from 1 through length($colors) {
    .u-bg-#{$i} {
        background-color: nth($colors, $i);
    }
}
@for $i from 1 through length($colors) {
    .u-bg-#{$i}-on-hover {
        &:hover {
            background-color: nth($colors, $i);
        }
    }
}

/* Paints (colors)
========================================================================== */
@for $i from 1 through length($colors) {
    .u-paint-#{$i} {
        color: nth($colors, $i);
    }
}
@for $i from 1 through length($colors) {
    .u-paint-#{$i}-on-hover {
        &:hover {
            color: nth($colors, $i);
        }
    }
}