/* ==========================================================================
   Utilities
   ========================================================================== */

/* Text indent
========================================================================== */
.u-info {
    @extend %helper--indent;
}

/* Translates
========================================================================== */
.u-horizontal-middle-right {
    transform: translateX(50%);
}
.u-horizontal-middle-left {
    transform: translateX(-50%);
}
.u-vertical-middle-top {
    transform: translateY(-50%);
    &.u-horizontal-middle-right {
        transform: translate(50%, -50%);
    }
    &.u-horizontal-middle-left {
        transform: translate(-50%, -50%);
    }
    &.u-horizontal-total-right {
        transform: translateX(100%, -50%);
    }
    &.u-horizontal-total-left {
        transform: translateX(-100%, -50%);
    }
}
.u-vertical-middle-bottom {
    transform: translateY(50%);
    &.u-horizontal-middle-right {
        transform: translate(50%, 50%);
    }
    &.u-horizontal-middle-left {
        transform: translate(-50%, 50%);
    }
    &.u-horizontal-total-right {
        transform: translateX(100%, 50%);
    }
    &.u-horizontal-total-left {
        transform: translateX(-100%, 50%);
    }
}
.u-horizontal-total-right {
    transform: translateX(100%);
}
.u-horizontal-total-left {
    transform: translateX(-100%);
}
.u-vertical-total-top {
    transform: translateY(-100%);
    &.u-horizontal-middle-right {
        transform: translate(50%, -100%);
    }
    &.u-horizontal-middle-left {
        transform: translate(-50%, -100%);
    }
    &.u-horizontal-total-right {
        transform: translateX(100%, -100%);
    }
    &.u-horizontal-total-left {
        transform: translateX(-100%, -100%);
    }
}
.u-vertical-total-bottom {
    transform: translateY(100%);
    &.u-horizontal-middle-right {
        transform: translate(50%, 100%);
    }
    &.u-horizontal-middle-left {
        transform: translate(-50%, 100%);
    }
    &.u-horizontal-total-right {
        transform: translateX(100%, 100%);
    }
    &.u-horizontal-total-left {
        transform: translateX(-100%, 100%);
    }
}

/* Simple link
========================================================================== */
.u-default-link-anim {
    @extend %helper--inline-flex--center--center;
    .c-label {
        position: relative;

        overflow: hidden;
        &:before {
            position: absolute;
            bottom: 0;
            left: 0;

            width: 100%;
            height: 1px;

            transition: .18s cubic-bezier(.52, .01, .16, 1);
            transform: scaleX(0);
            transform-origin: 0 50%;

            background: currentColor;

            @extend %helper--pseudo;
        }
    }
    &:hover {
        .c-label {
            &:before {
                transition-timing-function: cubic-bezier(.62, .02, .34, 1);
                transition-duration: .24s;
                transform: scaleX(1);
            }
        }
    }
}

// .u-nowrap {
//     white-space: nowrap;
// }
// .u-wrap {
//     white-space: wrap;
// }