/* ==========================================================================
   Variables
   ========================================================================== */

   /* Indexes
========================================================================== */
$index-header: 100;

/* Sizes
========================================================================== */
$size-inner: 1240px;
$size-gutter: 20px;

$size-btn: 8px;

/* Fonts
========================================================================== */
$font-default: 		Arial, sans-serif;

/* Breakpoints
========================================================================== */

// include-media require SCSS variables
$bp-desktop: 'desktop';
$bp-tablet: 'tablet';
$bp-phone: 'phone';
$size-desktop: 1400px;
$size-tablet: 1024px;
$size-phone: 768px;

:root {
    // sizes
    --size-desktop: #{$size-desktop};
    --size-tablet: #{$size-tablet};
    --size-phone: #{$size-phone};

    // colors
    --color-main: #464646;
    --color-accent: #d4213d;

    // font-sizes
    --fz-default: 16px;
    --fz-big: 28px;

    // typography
    --font-main: 'Arial', sans-serif; 
    // --font-icons: 'fontello', sans-serif;

    // white-spaces
    --white-space: 16px;
}

$breakpoints-array:
    $bp-desktop,
    $bp-tablet,
    $bp-phone;

$breakpoints: (
    $bp-desktop: $size-desktop,
    $bp-tablet: $size-tablet,
    $bp-phone: $size-phone
);

$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 3), (min-resolution: 350dpi)'
) !default;
