.t-wysiwyg {
    ul,
    ol {
        padding-left: $size_gutter;
    }
    ul {
        list-style-type: disc;
    }
    ol {
        list-style-type: decimal;
    }
    a {
        color: $color_default_link;

        @extend .u-default-link-anim;
    }
    * + * {
        margin-top: $size_gutter;
    }
    li + li {
        margin-top: $size_gutter/2;
    }
}
