.l-inner {
    @extend %helper--inner;
}


body {
    @include media('<desktop-small') {
        background: pink;
    }
    @include media('<tablet') {
        background: red;
    }
    @include media('<phone') {
        background: yellow;
    }
    @include media('>phone', '<=desktop-small') {
        border: 5px solid grey;
    }
    @include media('>tablet', '<=1100px') {
        color: red;
    }
    @include media('<phone', 'landscape') {
        background: orange;
    }
}


$position_top:      		'top';
$position_right:      		'right';
$position_bottom:      		'bottom';
$position_left:      		'left';

$positions:
    $position_top,
    $position_right,
    $position_bottom,
    $position_left;

@for $i from $gutterTopNumber through 0 {
	@for $k from 1 through length($positions) {
		$position: nth($positions, $k);
	    [spacing^='#{$position}#{$i}'] {
		    margin-#{$position}: $size_gutter*$i;
		}
		@for $j from 1 through length($breakpoints_array) {
			$breakpoint: nth($breakpoints_array, $j);
			@include media('<#{$breakpoint}') {
				[spacing*='#{$breakpoint}(#{$position}#{$i})'] {
			        margin-#{$position}: $size_gutter*$i;
			    }
			}
		}
	}
}
