.l-inner {
    @extend %helper--inner;
}


body {
    @include media('<desktop-small') {
        background: pink;
    }
    @include media('<tablet') {
        background: red;
    }
    @include media('<phone') {
        background: yellow;
    }
    @include media('>phone', '<=desktop-small') {
        border: 5px solid grey;
    }
}
