/* ==========================================================================
   Index of scss files
   ========================================================================== */

/* Normalize
   ========================================================================== */
@import "node_modules/normalize.css/normalize";

/* Breakpoint
   ========================================================================== */
@import "node_modules/include-media/dist/_include-media";

/* Base
   ========================================================================== */
@import "base/reset";
@import "base/fonts";
@import "base/variables";
@import "base/functions";
@import "base/helper-mixins";
@import "base/mixins";
@import "base/typography";
@import "base/clearfixes";
@import "base/icons";
@import "base/animations";
@import "base/ui";
@import "base/objects";
@import "base/media-wrappers";
@import "base/custom-attributes";
@import "base/utilities-sets";

/* Layouts and main layout elements
   ========================================================================== */
@import "layout/common";
@import "layout/inner";
@import "layout/header";
// @import "layout/hero";
@import "layout/main";
@import "layout/footer";
@import "layout/sections";
// @import "layout/popups";


/* Components
   ========================================================================== */
@import "components/logos";
@import "components/buttons";
@import "components/forms";
@import "components/navigations";
@import "components/links";

/* Utilities
   ========================================================================== */
@import "base/text-styles";
@import "base/utilities";


/* Vendor CSS
   ========================================================================== */
// @import "vendor/";
