/* ==========================================================================
   Forms
   ========================================================================== */
.form {
    fieldset {
        margin: 0;
        padding: 0;
        border: 0;
    }
    input,
    textarea {
        &:focus {
            outline: none;
        }
    }
    *::-ms-clear {
        display: none;
    }
}