/* ==========================================================================
   Helpers
   ========================================================================== */

/* Layout oriented helpers
   ========================================================================== */
%helper--inner {
    position: relative;
    width: $size_inner;
    margin: 0 auto;
}
// %helper--inner {
//     @include breakpoint($breakpoint_tablet) {
//         width: 100%;
//     }
// }

/* Clearfixes
   ========================================================================== */
%helper--clear {
    content: ".";
    display: block;
    height: 0;
    margin: 0!important;
    overflow: hidden;
    visibility: hidden;
    clear: both;
    line-height: 0;
}
%helper--clear:after {
    content: ".";
    display: block;
    clear: both;
    margin: 0!important;
}
%helper--clearfix {
    &:before,
    &:after {
        content: "\0020";
        display: block;
        height: 0;
        visibility: hidden;
    }
    &:after {
        clear: both;
    }
}
%helper--reset--btn {
    border: none;
    border: none;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
}
%helper--indent {
    display: block;

    width: 0;
    height: 0;
    margin: 0;
    padding: 0;

    text-indent: -99998em;
}
%helper--absolute--center {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: auto;
}
%helper--after {
    display: block;

    content: '';
}
%helper--after--absolute {
    position: absolute;

    @extend %helper--after;
}
%helper--after--absolute--center {
    @extend %helper--after;
    @extend %helper--absolute--center;
}
%helper--list {
    margin: 0;
    padding: 0;

    list-style: none;
}