/* ==========================================================================
   Typography
   ========================================================================== */

/* Base
   ========================================================================== */
html {
    @include font-smoothing(on);
}
body {
    font-family: $font_normal;
    font-size: 16px;
    line-height: 1.4;
    color: $color_default;
}

/* Global Typography
   ========================================================================== */

a {
    text-decoration: none;
    color: $color_default;

    &:hover {
        text-decoration: underline;
    }
    &:focus {
        outline: none;
    }
}