/* ==========================================================================
   Typography
   ========================================================================== */

/* Base
   ========================================================================== */
body {
    font-family: $font_normal;
    font-size: 12px;
    line-height: 1.4;
    color: $color_default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Global Typography
   ========================================================================== */

a {
    text-decoration: none;
    color: $color_default;
    
    &:hover {
        text-decoration: underline;
    }
}