/* ==========================================================================
   Variables: colors, sizes, fonts
   ========================================================================== */

/* Colors
========================================================================== */
$color_default:     #404040;
$color_green:       #008000;

/* Sizes
========================================================================== */
$size_inner:        1200px;

/* Breakpoints
========================================================================== */
$breakpoint_tablet:             max-width 1225px;
$breakpoint_tablet-mini:        max-width 950px;
$breakpoint_smartphone:         max-width 767px;
$breakpoint_smartphone-mini:    max-width 375px;

/* Fonts
========================================================================== */
//@import url($fontURL);
$font_normal:       'Roboto', Arial, sans-serif;
