/* ==========================================================================
   Variables: colors, sizes, fonts
   ========================================================================== */

/* Colors
========================================================================== */
$color_default:     #404040;
$color_green:       #008000;

/* Sizes
========================================================================== */
$size_inner:        875px;

/* Fonts
========================================================================== */
//@import url($fontURL);
$font_normal:       'Roboto', Arial, sans-serif;